#body
{
    overflow: hidden;
}

#title
{
    font-family: 'Dancing Script', cursive;
    font-size: 500%;
    font-weight: bold;
    text-align: center;
    padding-top: 2.5%;
    color: black;
}

#first-letter
{
    color:  #3f51b5;
}

#background
{
    position: fixed;
    top: 0;
    height: 100%;
}

#nav
{
    background-color: rgb(196, 196, 202);
    width: 100%;
    height: 15%;
    top: 0;
    z-index: 10;
}

#img
{
    width: 300px;
    height: 100px;
    z-index: 6;
    margin: 1.5% 20% 0 auto;
}

#id
{
    z-index: 5;
}

#auth
{
    position: static;
    z-index: 5;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 50%;
    margin: 15% auto 0 auto; /*top, right, bottom, left */
}

#login-field
{
    width: 60%;
    margin: 0 auto 3% auto; /*top, right, bottom, left */
    padding: 1% 2% 0 2%; /*top, right, bottom, left */
    border-radius: 10px;
}

#login-button:focus
{
    outline: none; 
}

#register-icon:focus
{
    outline: none; 
}

.mat-input-element 
{
    color: #3f51b5;
}

#pass-field
{
    width: 60%;
    margin: 0 auto 0 auto; /*top, right, bottom, left*/
    padding: 1% 2% 0 2%; /*top, right, bottom, left */
    border-radius: 10px;
}

#hide-password
{
    font-size: 150%;
    background-color: transparent;
    box-shadow: transparent;
}

#hide-password:focus
{
    outline: none;
}

#login-button
{
    margin: 3% auto 0 auto;
    font-size: 130%;
    width: 20%;
    /* background-color: #38525e; */
    color: #3f51b5;
}

.show_button
{
    animation: show_button linear 0.5s both;
}

@keyframes show_button 
{
    0% { opacity: 0; }
    50% { opacity: 0.8; }
    100% { opacity: 1; }
}

#register-section
{
    z-index: 5;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#register
{
    color: white;
    margin-top: 2.5%;
    vertical-align: middle;
}

.arrow_right
{
    color: white;
    margin-top: 2%;
}

#register-icon
{
    color: white;
    width: 8%;
    margin: 1% auto 0 auto;
}

::ng-deep .snack-correct
{
    background-color: #6CCFAC;
    color: black;
}

::ng-deep .snack-error
{
    background-color: #E69BA3;
    color: black;
}