<div id="side-nav">
  <!-- <button mat-icon-button class="menu-item" type="button" matTooltip="Home" routerLinkActive="active-route" routerLink="/dashboard-component"><mat-icon>home</mat-icon></button> -->
  <button mat-icon-button class="menu-item" type="button" matTooltip="Chat" routerLinkActive="active-route" routerLink="/chat-component"><mat-icon>speaker_notes</mat-icon></button>
  <button mat-icon-button class="menu-item" type="button" matTooltip="Users" routerLinkActive="active-route" routerLink="/users-component"><mat-icon>group</mat-icon></button>
  <button mat-icon-button class="menu-item" type="button" matTooltip="Setting" routerLinkActive="active-route" routerLink="/settings-component"><mat-icon>settings</mat-icon></button>
  <button mat-icon-button class="menu-item" type="button" matTooltip="Logout" id="logout" (click)="logout()"><mat-icon>logout</mat-icon></button>
</div>