<app-logo-component></app-logo-component>
<div id="flex" [ngClass]="darkMode === true ? 'darkMode-background': 'lightMode-background'">  
  <app-menu-component id="menu-component"></app-menu-component>
  <mat-card [ngClass]="{'darkMode-card':darkMode === true, 'lightMode-card' : darkMode === false, 
  'friend-zone-active' : typeCommunication === 'chat', 'friend-zone' : typeCommunication !== 'chat'}">
    <mat-form-field class="search-friend" appearance="fill">
      <input matInput id="search-input" type="search" (keyup)="searchFriend($event)" placeholder="Search friend">
    </mat-form-field>
      <h1 class="header">Favorites</h1>
      <mat-card id="favorites" *ngFor="let favorite of favoritesFriends"  [ngClass]="darkMode === true ? 'darkMode-card': 'lightMode-card'">
        <mat-icon [ngClass]="favorite.active ? 'active-friend' : 'not-active-friend'">fiber_manual_record</mat-icon>
        <button mat-button type="button" id="favorite-info" #favorite><img src="assets/img/male_avatar.png" style="height:80px ; width:80px"> {{ favorite.name }} {{favorite.lastname}}<mat-icon (click)="removedToFavorite(favorite)" id="gold">star</mat-icon><mat-icon class="icon-left" (click)="showSubMenu(favorite, false, 'favorite')">more_vert</mat-icon></button>
        <mat-card id="submenu-friend" [hidden]="!favorite.show">
          <button mat-button type="button" id="video-friend" class="submenu-item" (click)="openWindowComunnication('video')">
            <mat-icon>videocam</mat-icon>
          </button>
          <button mat-button type="button" id="audio-friend" class="submenu-item" (click)="openWindowComunnication('audio')">
            <a routerLink="/video-audio" target="_blank"></a>
            <mat-icon>call</mat-icon>
          </button>
          <button mat-button type="button" id="chat-friend" class="submenu-item" (click)="talkToFriend(favorite)">
            <mat-icon>chat</mat-icon>
          </button>
          <button mat-icon-button type="button" id="exit-friend" class="submenu-item" (click)="showSubMenu(favorite, true, 'favorite')">
            <mat-icon id="clear">clear</mat-icon>
          </button>
        </mat-card>
      </mat-card>
      <!-- <mat-divider id="divider"></mat-divider> -->

      <h1 class="header">Friends</h1>
        <mat-card id="friend" *ngFor="let friend of this.dataSource.filteredData" [ngClass]="darkMode === true ? 'darkMode-card': 'lightMode-card'">
          <mat-icon [ngClass]="friend.active ? 'active-friend' : 'not-active-friend'">fiber_manual_record</mat-icon>
          <button mat-button type="button" id="friend-info" #friend><img src="assets/img/male_avatar.png" style="height:80px ; width:80px"> {{ friend.name }} {{friend.lastname}}<mat-icon class="icon-left" (click)="addToFavorite(friend)" *ngIf="!favoritesFriends.includes(friend)">star_border</mat-icon><mat-icon class="icon-left" (click)="showSubMenu(friend, false, 'friend')">more_vert</mat-icon></button>
          <mat-card id="submenu-friend" [hidden]="!friend.show">
            <button mat-button type="button" id="video-friend" class="submenu-item" (click)="openWindowComunnication('video')">
              <mat-icon>videocam</mat-icon>
            </button>
            <button mat-button type="button" id="audio-friend" class="submenu-item" (click)="openWindowComunnication('audio')">
              <mat-icon>call</mat-icon>
            </button>
            <button mat-button type="button" id="chat-friend" class="submenu-item" (click)="talkToFriend(friend)">
              <mat-icon>chat</mat-icon>
          </button>
          <button mat-icon-button type="button" id="exit-friend" class="submenu-item" (click)="showSubMenu(friend, true, 'friend')">
            <mat-icon id="clear">clear</mat-icon>
          </button>
        </mat-card>
      </mat-card>
  </mat-card>
  <mat-card id="history" [ngClass]="{'darkMode-card':darkMode === true, 'lightMode-card' : darkMode === false, 
  'message-zone-active' : typeCommunication === 'chat', 'message-zone' : typeCommunication !== 'chat'}">
    <mat-card-title id="conversation-friend" *ngIf="currentFriendToTalk && typeCommunication === 'chat'" >{{ currentFriendToTalk }} </mat-card-title>
    <mat-card-content id="message-history">
      <mat-card class="message" *ngFor="let message of messages" [ngClass]="message.login === login ? 'message-login-user' : 'message-friend-user'">
        {{ message.message }}
        <p>{{ message.date | date: 'MM-dd-yyyy, HH:mm:ss' }}</p>
      </mat-card>
    </mat-card-content>
    <mat-form-field class="message-friend" appearance="fill" *ngIf="currentFriendToTalk && typeCommunication === 'chat'">
      <textarea  matInput placeholder="Write a message..." [(ngModel)]="message" (mouse)="isEmojiPickerVisible = !isEmojiPickerVisible;"></textarea>
      <button mat-icon-button type="button" class="icon" (click)="isEmojiPickerVisible = !isEmojiPickerVisible;">
        <mat-icon>sentiment_very_satisfied</mat-icon>
      </button>
      <emoji-mart class="emoji-mart" *ngIf="isEmojiPickerVisible" (emojiSelect)="addEmoji($event)" title="Choose your emoji"></emoji-mart>
      <button mat-icon-button type="button" class="icon">
        <mat-icon>add_photo_alternate</mat-icon>
      </button>
      <button mat-icon-button type="button" class="icon">
        <mat-icon>attach_file</mat-icon>
      </button>
    </mat-form-field>
    <button mat-raised-button id="send-button" [disabled]="!message" type="button" (click)="sendMesagge(message)" *ngIf="currentFriendToTalk && typeCommunication === 'chat'">Send</button>
  </mat-card>
</div>
<router-outlet></router-outlet>