#body
{
    overflow: hidden;
}

#background
{
    position: fixed;
    height: 100%;
}

#flex
{
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#first-letter
{
    color:  #3f51b5;
}

#menu-component
{
    width: 10%;
}

#settings
{
    border-radius: 30px;
    width: 85%;
}

/* DARK MODE */

.darkMode-background
{
    background-color: rgb(43, 42, 42);
}

.lightMode-background
{
    background-color: rgb(196, 196, 202);
}

.darkMode-card
{
    background-color: rgb(71, 71, 71);
}

.lightMode-card
{
    background-color: white;
}