/* You can add global styles to this file, and also import other style files */
@import '~@ctrl/ngx-emoji-mart/picker';

html, body { 
    height: 100%; 
    /* background-color: #262E38;  */
    background-color: #000f1cff;
    background-repeat: no-repeat;
    background-attachment: fixed; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

