<div id="nav">
    <button type="button" id="menu-button" mat-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <p id="title"><span id="first-letter">D</span>iscuss</p>
    <div id="menu">
      <p id="login">{{ login }}</p>
      <button mat-button id="my-account"></button>
    </div>
</div>
<mat-drawer-container id="body" mode="over" hasBackdrop="false">
<mat-drawer #drawer class="example-sidenav">
  <button mat-button><mat-icon>face</mat-icon>My account</button>
  <button mat-button><mat-icon>group</mat-icon>Friends</button>
  <button mat-button><mat-icon>face</mat-icon>My account</button>
  <button mat-button><mat-icon>face</mat-icon>My account</button>
  <button mat-button><mat-icon>settings</mat-icon>Settings</button>
  <button mat-button id="logout" (click)="logout()"><mat-icon>logout</mat-icon>Logout</button>
</mat-drawer>
<mat-drawer-content>
    <div id="background">
    <mat-icon id="icon_one">audiotrack</mat-icon>
    <mat-icon id="icon_two">call</mat-icon>
    <mat-icon id="icon_three">mic</mat-icon>
    <mat-icon id="icon_four">headset</mat-icon>
    <mat-icon id="icon_five">audiotrack</mat-icon>
    <mat-icon id="icon_six">call</mat-icon>
    <mat-icon id="icon_seven">mic</mat-icon>
    <mat-icon id="icon_eight">headset</mat-icon>
    <mat-icon id="icon_nine">audiotrack</mat-icon>
    <mat-icon id="icon_ten">call</mat-icon>
    <mat-icon id="icon_eleven">mic</mat-icon>
    <mat-icon id="icon_twelve">headset</mat-icon>
    </div>
    <div class="example-sidenav-content">
    </div>
</mat-drawer-content>
</mat-drawer-container>
<router-outlet></router-outlet>